{% assign speakers = speakers | where: 'time', time | sort: "name" | reverse %}
<tr>
  <th>
    <span class="utc-time">{{ time }}</span>
    <span class="is-hidden local-time" data-time="2021-06-09T{{ time }}:00Z"></span>
  </th>
  {% for track in tracks %}
    {% assign speaker = speakers | where: "track", track.name | first %}
    {% if speaker %}
      {% render "speakers_slot_entry", speaker: speaker, track: track, time: time %}
    {% else %}
      <td></td>
    {% endif %}
  {% endfor %}
</tr>
